p,
div {
  font-family: Lato;
}

.textHeader {
  color: #00abff;
  margin-top: 50px;
  font-size: 43px;
}

.textField {
  font-family: "sukumvit";
  width: 500px;
}

.photos {
  width: 100px;
  height: 110px;
}

.title {
  font-size: 20px;
  margin-top: 40px;
  color: black;
}

.description {
  font-size: 14px;
  color: darkgray;
}

.margin {
  
}
